{
  "openapi": "3.0.3",
  "info": {
    "title": "OneGoodArea API",
    "description": "OneGoodArea is the deterministic data and intelligence layer underneath UK area workflows. It maintains normalised, sourced, dated small-area signals across seven categories (crime, deprivation, property, schools, amenities, transport, environment) and serves them through four products:\n\n- **Signals** — the raw per-area values, each with source, observed period, confidence and percentile.\n- **Scores** — deterministic 0-100 composites over five weighted dimensions per preset.\n- **Monitor** — portfolio tracking with material-change detection and webhooks.\n- **Intelligence** — a typed query plane (programmatic or natural-language) with peers, anomalies and forecasts.\n\nScores are computed from public data by fixed formulas; no AI touches the scoring path. Natural-language queries are translated into a typed, validated plan, but the deterministic executor produces every number. Every response carries an `engine_version` and can be pinned via the `X-Engine-Version` header, so a buyer's model risk register can lock to a specific methodology.",
    "version": "1.0.0",
    "contact": {
      "name": "OneGoodArea",
      "url": "https://www.onegoodarea.com",
      "email": "operation@onegoodarea.co.uk"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.onegoodarea.com/terms"
    }
  },
  "servers": [
    { "url": "https://api.onegoodarea.com", "description": "Production" }
  ],
  "security": [{ "BearerAuth": [] }],
  "tags": [
    { "name": "Signals", "description": "Per-area signal values across seven categories." },
    { "name": "Scores", "description": "Deterministic 0-100 composite scores." },
    { "name": "Monitor", "description": "Portfolio tracking and material-change detection." },
    { "name": "Intelligence", "description": "Typed query plane: ranking, peers, anomalies, forecasts." },
    { "name": "Webhooks", "description": "Outbound webhook subscriptions for event-driven integrations." }
  ],
  "paths": {
    "/v1/area": {
      "get": {
        "tags": ["Signals"],
        "summary": "Full signal profile for one area",
        "description": "Returns every signal for a UK postcode or place name, across all seven categories, with geo metadata and source attribution. Missing coverage is returned explicitly as `value: null` with a reason, never omitted.",
        "operationId": "getArea",
        "parameters": [
          { "name": "postcode", "in": "query", "schema": { "type": "string" }, "example": "M1 1AE", "description": "UK postcode. Either postcode or area is required." },
          { "name": "area", "in": "query", "schema": { "type": "string" }, "example": "Manchester city centre", "description": "Postcode or place name." },
          { "name": "bundle", "in": "query", "schema": { "type": "string" }, "description": "Optional org signal-bundle id; projects the response to the bundle's whitelist." },
          { "$ref": "#/components/parameters/EngineVersion" }
        ],
        "responses": {
          "200": {
            "description": "Signal profile",
            "headers": { "X-Engine-Version": { "$ref": "#/components/headers/XEngineVersion" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AreaProfile" } } }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "403": { "$ref": "#/components/responses/PlanError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/v1/signals/{category}": {
      "get": {
        "tags": ["Signals"],
        "summary": "Signals for one category",
        "description": "The signal profile narrowed to a single category.",
        "operationId": "getSignalsByCategory",
        "parameters": [
          { "name": "category", "in": "path", "required": true, "schema": { "$ref": "#/components/schemas/SignalCategory" } },
          { "name": "area", "in": "query", "schema": { "type": "string" }, "example": "M1 1AE" },
          { "name": "postcode", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Category-scoped signal profile",
            "headers": { "X-Engine-Version": { "$ref": "#/components/headers/XEngineVersion" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AreaProfile" } } }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/v1/areas": {
      "get": {
        "tags": ["Signals"],
        "summary": "Rank areas by a signal",
        "description": "Rank and filter LSOAs by a single normalised signal, scoped by country or local authority district, with percentile and value filters. Only normalised signals (the deprivation pair, property.median_price, crime.total_12m, and the derived signals) are rankable.",
        "operationId": "queryAreas",
        "parameters": [
          { "name": "signal", "in": "query", "required": true, "schema": { "type": "string" }, "example": "property.median_price" },
          { "name": "country", "in": "query", "schema": { "type": "string", "enum": ["England", "Wales", "Scotland"] } },
          { "name": "lad", "in": "query", "schema": { "type": "string" }, "description": "ONS local authority district code, e.g. E08000003." },
          { "name": "min_percentile", "in": "query", "schema": { "type": "number", "minimum": 0, "maximum": 100 } },
          { "name": "max_percentile", "in": "query", "schema": { "type": "number", "minimum": 0, "maximum": 100 } },
          { "name": "min_value", "in": "query", "schema": { "type": "number" } },
          { "name": "max_value", "in": "query", "schema": { "type": "number" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["percentile", "percentile_desc", "value", "value_desc"], "default": "percentile" } },
          { "name": "scope", "in": "query", "schema": { "type": "string", "enum": ["national", "regional"], "default": "national" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "maximum": 1000 } }
        ],
        "responses": {
          "200": {
            "description": "Ranked areas",
            "headers": { "X-Engine-Version": { "$ref": "#/components/headers/XEngineVersion" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AreasResponse" } } }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/v1/score": {
      "post": {
        "tags": ["Scores"],
        "summary": "Score one area",
        "description": "Deterministic 0-100 composite for one area, over five weighted dimensions chosen by a preset. Supply a preset, custom weights over that preset's dimensions, or a saved org preset_id (mutually exclusive). No AI: the same input and engine version always produce the same number. Set explain=true for a server-composed summary, recommendations and data sources (still no AI, pure formatters).",
        "operationId": "scoreArea",
        "parameters": [
          { "name": "explain", "in": "query", "schema": { "type": "boolean" }, "description": "Include summary, recommendations and data_sources." },
          { "name": "bundle", "in": "query", "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/EngineVersion" }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScoreRequest" }, "example": { "area": "M1 1AE", "preset": "moving" } } }
        },
        "responses": {
          "200": {
            "description": "Score result",
            "headers": { "X-Engine-Version": { "$ref": "#/components/headers/XEngineVersion" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ScoreResult" } } }
          },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "403": { "$ref": "#/components/responses/PlanError" },
          "404": { "$ref": "#/components/responses/NotFoundError" },
          "422": { "$ref": "#/components/responses/UnprocessableError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/v1/portfolios": {
      "post": {
        "tags": ["Monitor"],
        "summary": "Create a portfolio",
        "operationId": "createPortfolio",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["name"], "properties": { "name": { "type": "string", "maxLength": 200 } } }, "example": { "name": "UK mortgage book Q3" } } }
        },
        "responses": {
          "201": { "description": "Portfolio created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Portfolio" } } } },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      },
      "get": {
        "tags": ["Monitor"],
        "summary": "List portfolios",
        "operationId": "listPortfolios",
        "responses": {
          "200": { "description": "Portfolios", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Portfolio" } } } } },
          "401": { "$ref": "#/components/responses/AuthError" }
        }
      }
    },
    "/v1/portfolios/{id}": {
      "get": {
        "tags": ["Monitor"],
        "summary": "Get a portfolio",
        "operationId": "getPortfolio",
        "parameters": [{ "$ref": "#/components/parameters/PortfolioId" }],
        "responses": {
          "200": { "description": "Portfolio with member areas", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PortfolioDetail" } } } },
          "401": { "$ref": "#/components/responses/AuthError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      },
      "delete": {
        "tags": ["Monitor"],
        "summary": "Delete a portfolio",
        "operationId": "deletePortfolio",
        "parameters": [{ "$ref": "#/components/parameters/PortfolioId" }],
        "responses": {
          "200": { "description": "Deleted" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      }
    },
    "/v1/portfolios/{id}/areas": {
      "post": {
        "tags": ["Monitor"],
        "summary": "Add tracked areas",
        "description": "Bulk-add up to 100 areas to a portfolio.",
        "operationId": "addPortfolioAreas",
        "parameters": [{ "$ref": "#/components/parameters/PortfolioId" }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["areas"], "properties": { "areas": { "type": "array", "maxItems": 100, "items": { "type": "object", "required": ["area"], "properties": { "area": { "type": "string" }, "label": { "type": "string" } } } } } } } }
        },
        "responses": {
          "200": { "description": "Areas added", "content": { "application/json": { "schema": { "type": "object", "properties": { "added": { "type": "integer" }, "portfolio": { "$ref": "#/components/schemas/PortfolioDetail" } } } } } },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      }
    },
    "/v1/portfolios/{id}/enrich": {
      "post": {
        "tags": ["Monitor"],
        "summary": "Enrich every area",
        "description": "Compute a full signal profile or score for every area in the portfolio.",
        "operationId": "enrichPortfolio",
        "parameters": [{ "$ref": "#/components/parameters/PortfolioId" }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "preset": { "$ref": "#/components/schemas/Preset" } } } } }
        },
        "responses": {
          "200": { "description": "Enrichment results", "content": { "application/json": { "schema": { "type": "object", "properties": { "count": { "type": "integer" }, "results": { "type": "array", "items": { "type": "object" } } } } } } },
          "401": { "$ref": "#/components/responses/AuthError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      }
    },
    "/v1/portfolios/{id}/changes": {
      "post": {
        "tags": ["Monitor"],
        "summary": "Detect material change (fires webhooks)",
        "description": "Diff each tracked area's signals across two time-series periods and surface the material moves. A move is material when its absolute percentage change meets the threshold; property moves are gated by a minimum transaction count in both periods to suppress small-sample noise. Fires signal.changed webhooks for material moves.",
        "operationId": "detectPortfolioChanges",
        "parameters": [{ "$ref": "#/components/parameters/PortfolioId" }],
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object", "properties": { "baseline": { "type": "string", "enum": ["previous", "first"], "default": "previous" }, "threshold_pct": { "type": "number", "default": 5 }, "min_transactions": { "type": "integer", "default": 8 }, "emit": { "type": "boolean", "default": true } } } } }
        },
        "responses": {
          "200": { "description": "Change report", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChangeReport" } } } },
          "401": { "$ref": "#/components/responses/AuthError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      },
      "get": {
        "tags": ["Monitor"],
        "summary": "Preview material change (read-only)",
        "description": "The same detection as the POST variant but read-only: never fires webhooks. For dashboards and previews.",
        "operationId": "previewPortfolioChanges",
        "parameters": [
          { "$ref": "#/components/parameters/PortfolioId" },
          { "name": "baseline", "in": "query", "schema": { "type": "string", "enum": ["previous", "first"] } },
          { "name": "threshold_pct", "in": "query", "schema": { "type": "number" } }
        ],
        "responses": {
          "200": { "description": "Change report (no webhooks)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChangeReport" } } } },
          "401": { "$ref": "#/components/responses/AuthError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      }
    },
    "/v1/query": {
      "post": {
        "tags": ["Intelligence"],
        "summary": "Typed query plane",
        "description": "Ask a question over the signal store. Send a programmatic plan (skips the LLM entirely) or a natural-language question (translated by a planner into a strict, validated plan). Both run through the same deterministic executor over one of seven operations: rank_areas, get_area, score_area, compare_areas, find_peers, find_insights, find_forecast. The response echoes the executed plan and plan_source so any answer is replayable.",
        "operationId": "runQuery",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QueryRequest" }, "example": { "question": "cheapest areas under 250k median price rising year on year in Manchester" } } }
        },
        "responses": {
          "200": { "description": "Query result", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/QueryResponse" } } } },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "422": { "$ref": "#/components/responses/UnprocessableError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/v1/peers": {
      "post": {
        "tags": ["Intelligence"],
        "summary": "Find peer areas (k-NN)",
        "description": "Nearest neighbours to a target area in normalised-signal space (Euclidean over normalised values). Default k=20, minimum 3 overlapping signals.",
        "operationId": "findPeers",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PeersRequest" }, "example": { "target": { "area": "M1 1AE" }, "k": 20 } } }
        },
        "responses": {
          "200": { "description": "Peers", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PeersResponse" } } } },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/v1/insights": {
      "post": {
        "tags": ["Intelligence"],
        "summary": "Peer-relative anomalies",
        "description": "Rank LSOAs by the absolute value of a peer-relative z-score. The signal_key must end in _peer_relative_z. Default k=50.",
        "operationId": "findInsights",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InsightsRequest" }, "example": { "signal_key": "crime.total_12m_peer_relative_z", "country": "England" } } }
        },
        "responses": {
          "200": { "description": "Insights", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InsightsResponse" } } } },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/v1/forecast": {
      "post": {
        "tags": ["Intelligence"],
        "summary": "Linear forecast for one (signal, area)",
        "description": "Linear regression over the time-series for one signal in one area. Default 24-month window, 12-month horizon. The confidence band is constant-width (it does not widen with horizon); the response meta exposes r2 and residual stderr so callers can filter on quality. Not a learned model.",
        "operationId": "runForecast",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ForecastRequest" }, "example": { "target": { "area": "M1 1AE" }, "signal_key": "property.median_price", "horizon_months": 12 } } }
        },
        "responses": {
          "200": { "description": "Forecast", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ForecastResponse" } } } },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "429": { "$ref": "#/components/responses/RateLimitError" }
        }
      }
    },
    "/v1/webhooks": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Create a webhook subscription",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["url", "event_types"], "properties": { "url": { "type": "string", "format": "uri" }, "event_types": { "type": "array", "items": { "type": "string", "enum": ["signal.changed"] } } } } } }
        },
        "responses": {
          "201": { "description": "Subscription created", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookSubscription" } } } },
          "400": { "$ref": "#/components/responses/ValidationError" },
          "401": { "$ref": "#/components/responses/AuthError" }
        }
      },
      "get": {
        "tags": ["Webhooks"],
        "summary": "List webhook subscriptions",
        "operationId": "listWebhooks",
        "responses": {
          "200": { "description": "Subscriptions", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/WebhookSubscription" } } } } },
          "401": { "$ref": "#/components/responses/AuthError" }
        }
      }
    },
    "/v1/webhooks/{id}": {
      "delete": {
        "tags": ["Webhooks"],
        "summary": "Revoke a webhook subscription",
        "operationId": "revokeWebhook",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Revoked" },
          "401": { "$ref": "#/components/responses/AuthError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      }
    },
    "/v1/webhooks/{id}/rotate-secret": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Rotate the signing secret",
        "operationId": "rotateWebhookSecret",
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "New signing secret", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/WebhookSubscription" } } } },
          "401": { "$ref": "#/components/responses/AuthError" },
          "404": { "$ref": "#/components/responses/NotFoundError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": { "type": "http", "scheme": "bearer", "description": "API key as a Bearer token. Keys are prefixed oga_." }
    },
    "headers": {
      "XEngineVersion": {
        "description": "The methodology version that processed the request. Echoes the request's X-Engine-Version when supplied, else the org pin or the latest. Match against the body's engine_version for audit.",
        "schema": { "type": "string", "example": "1.0.0" }
      }
    },
    "parameters": {
      "EngineVersion": {
        "name": "X-Engine-Version",
        "in": "header",
        "required": false,
        "schema": { "type": "string", "enum": ["1.0.0"], "example": "1.0.0" },
        "description": "Pin the request to a specific engine version for a model risk register. Unknown versions return 400."
      },
      "PortfolioId": { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
    },
    "schemas": {
      "SignalCategory": { "type": "string", "enum": ["crime", "deprivation", "property", "schools", "amenities", "transport", "environment"] },
      "Preset": { "type": "string", "enum": ["moving", "business", "investing", "research"] },
      "Signal": {
        "type": "object",
        "properties": {
          "key": { "type": "string", "example": "crime.total_12m" },
          "category": { "$ref": "#/components/schemas/SignalCategory" },
          "label": { "type": "string" },
          "value": { "nullable": true, "description": "Number or string; null when there is no coverage." },
          "unit": { "type": "string", "example": "count" },
          "direction": { "type": "string", "enum": ["higher_is_better", "lower_is_better", "neutral"] },
          "source": { "type": "string", "example": "police.uk" },
          "observed_period": { "type": "string", "example": "2025-01 to 2025-12" },
          "confidence": { "type": "number", "format": "float", "minimum": 0, "maximum": 1 },
          "confidence_reason": { "type": "string" },
          "normalized_value": { "type": "number", "nullable": true, "description": "0-1 position within the country. Store-backed signals only." },
          "percentile": { "type": "number", "nullable": true, "description": "National percentile 0-100. Store-backed signals only." },
          "regional_percentile": { "type": "number", "nullable": true }
        }
      },
      "AreaGeo": {
        "type": "object",
        "properties": {
          "query": { "type": "string" }, "postcode": { "type": "string", "nullable": true }, "lat": { "type": "number" }, "lng": { "type": "number" },
          "lsoa": { "type": "string" }, "msoa": { "type": "string", "nullable": true }, "admin_district": { "type": "string", "nullable": true },
          "region": { "type": "string", "nullable": true }, "country": { "type": "string" }, "area_type": { "type": "string", "enum": ["urban", "suburban", "rural"] }
        }
      },
      "AreaProfileMeta": {
        "type": "object",
        "properties": {
          "engine_version": { "type": "string", "example": "1.0.0" },
          "generated_at": { "type": "string", "format": "date-time" },
          "sources": { "type": "array", "items": { "type": "string" } },
          "fetch_mode": { "type": "string", "enum": ["live", "store", "hybrid"] }
        }
      },
      "AreaProfile": {
        "type": "object",
        "properties": {
          "geo": { "$ref": "#/components/schemas/AreaGeo" },
          "signals": { "type": "array", "items": { "$ref": "#/components/schemas/Signal" } },
          "meta": { "$ref": "#/components/schemas/AreaProfileMeta" }
        }
      },
      "AreaResult": {
        "type": "object",
        "properties": {
          "geo_type": { "type": "string", "example": "lsoa" }, "geo_code": { "type": "string", "example": "E01033664" },
          "value": { "type": "number" }, "normalized_value": { "type": "number" }, "percentile": { "type": "number" }
        }
      },
      "AreasResponse": {
        "type": "object",
        "properties": {
          "signal": { "type": "string" }, "count": { "type": "integer" },
          "areas": { "type": "array", "items": { "$ref": "#/components/schemas/AreaResult" } }
        }
      },
      "ScoreRequest": {
        "type": "object",
        "required": ["area"],
        "properties": {
          "area": { "type": "string", "example": "M1 1AE" },
          "preset": { "$ref": "#/components/schemas/Preset" },
          "weights": { "type": "object", "additionalProperties": { "type": "number" }, "description": "Custom weights over the chosen preset's five dimensions." },
          "preset_id": { "type": "string", "description": "A saved org preset id. Mutually exclusive with preset/weights." },
          "explain": { "type": "boolean" }
        }
      },
      "Dimension": {
        "type": "object",
        "properties": {
          "key": { "type": "string", "example": "safety_crime" }, "label": { "type": "string", "example": "Safety & Crime" },
          "score": { "type": "number", "minimum": 0, "maximum": 100 }, "weight": { "type": "number" },
          "confidence": { "type": "number", "format": "float", "minimum": 0, "maximum": 1 },
          "reasoning": { "type": "string" }, "confidence_reason": { "type": "string" }
        }
      },
      "ScoreResult": {
        "type": "object",
        "properties": {
          "area": { "type": "string" }, "preset": { "$ref": "#/components/schemas/Preset" },
          "score": { "type": "number", "minimum": 0, "maximum": 100 },
          "area_type": { "type": "string", "enum": ["urban", "suburban", "rural"] },
          "dimensions": { "type": "array", "minItems": 5, "maxItems": 5, "items": { "$ref": "#/components/schemas/Dimension" } },
          "confidence": { "type": "number", "format": "float", "minimum": 0, "maximum": 1 },
          "weights_source": { "type": "string", "enum": ["preset", "custom"] },
          "engine_version": { "type": "string", "example": "1.0.0" },
          "summary": { "type": "string", "description": "Present when explain=true. Server-composed, no AI." },
          "recommendations": { "type": "array", "items": { "type": "string" } },
          "data_sources": { "type": "array", "items": { "type": "string" } }
        }
      },
      "Portfolio": {
        "type": "object",
        "properties": { "id": { "type": "string" }, "name": { "type": "string" }, "created_at": { "type": "string", "format": "date-time" } }
      },
      "TrackedArea": {
        "type": "object",
        "properties": { "area": { "type": "string" }, "label": { "type": "string", "nullable": true }, "geo_code": { "type": "string", "nullable": true } }
      },
      "PortfolioDetail": {
        "allOf": [
          { "$ref": "#/components/schemas/Portfolio" },
          { "type": "object", "properties": { "areas": { "type": "array", "items": { "$ref": "#/components/schemas/TrackedArea" } } } }
        ]
      },
      "SignalChange": {
        "type": "object",
        "properties": {
          "signal_key": { "type": "string" }, "label": { "type": "string" }, "area": { "type": "string" }, "geo_code": { "type": "string" },
          "period_from": { "type": "string" }, "period_to": { "type": "string" },
          "value_from": { "type": "number" }, "value_to": { "type": "number" }, "delta": { "type": "number" },
          "pct_change": { "type": "number", "nullable": true }, "direction": { "type": "string", "enum": ["up", "down", "flat"] },
          "material": { "type": "boolean" }
        }
      },
      "ChangeReport": {
        "type": "object",
        "properties": {
          "portfolio_id": { "type": "string" }, "baseline": { "type": "string", "enum": ["previous", "first"] },
          "threshold_pct": { "type": "number" }, "min_transactions": { "type": "integer" },
          "areas_checked": { "type": "integer" }, "material_count": { "type": "integer" },
          "changes": { "type": "array", "items": { "$ref": "#/components/schemas/SignalChange" } },
          "generated_at": { "type": "string", "format": "date-time" }
        }
      },
      "QueryPlan": {
        "type": "object",
        "properties": {
          "op": { "type": "string", "enum": ["rank_areas", "get_area", "score_area", "compare_areas", "find_peers", "find_insights", "find_forecast"] },
          "params": { "type": "object" }
        }
      },
      "QueryRequest": {
        "type": "object",
        "description": "Exactly one of question or plan.",
        "properties": {
          "question": { "type": "string" },
          "plan": { "$ref": "#/components/schemas/QueryPlan" },
          "bundle": { "type": "string" }
        }
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "plan": { "$ref": "#/components/schemas/QueryPlan" },
          "plan_source": { "type": "string", "enum": ["client", "nl"] },
          "results": {},
          "meta": { "type": "object" }
        }
      },
      "PeerTarget": {
        "type": "object",
        "description": "Exactly one of geo_code, postcode or area.",
        "properties": { "geo_code": { "type": "string" }, "postcode": { "type": "string" }, "area": { "type": "string" } }
      },
      "PeersRequest": {
        "type": "object",
        "required": ["target"],
        "properties": {
          "target": { "$ref": "#/components/schemas/PeerTarget" },
          "signals": { "type": "array", "items": { "type": "string" } },
          "country": { "type": "string" }, "lad": { "type": "string" }, "cohort_id": { "type": "string" },
          "k": { "type": "integer", "default": 20, "maximum": 200 }, "min_signals": { "type": "integer", "default": 3 }
        }
      },
      "Peer": {
        "type": "object",
        "properties": { "geo_code": { "type": "string" }, "distance": { "type": "number" }, "admin_district": { "type": "string", "nullable": true }, "region": { "type": "string", "nullable": true }, "sample_postcode": { "type": "string", "nullable": true } }
      },
      "PeersResponse": {
        "type": "object",
        "properties": {
          "target": { "type": "object", "properties": { "geo_code": { "type": "string" }, "signals_used": { "type": "array", "items": { "type": "string" } } } },
          "peers": { "type": "array", "items": { "$ref": "#/components/schemas/Peer" } },
          "meta": { "type": "object" }
        }
      },
      "InsightsRequest": {
        "type": "object",
        "required": ["signal_key"],
        "properties": {
          "signal_key": { "type": "string", "description": "Must end in _peer_relative_z." },
          "country": { "type": "string" }, "lad": { "type": "string" },
          "min_abs_z": { "type": "number" }, "k": { "type": "integer", "default": 50, "maximum": 500 }
        }
      },
      "Insight": {
        "type": "object",
        "properties": { "geo_code": { "type": "string" }, "value": { "type": "number", "description": "The peer-relative z-score." } }
      },
      "InsightsResponse": {
        "type": "object",
        "properties": {
          "signal_key": { "type": "string" },
          "insights": { "type": "array", "items": { "$ref": "#/components/schemas/Insight" } },
          "meta": { "type": "object" }
        }
      },
      "ForecastRequest": {
        "type": "object",
        "required": ["target", "signal_key"],
        "properties": {
          "target": { "$ref": "#/components/schemas/PeerTarget" },
          "signal_key": { "type": "string" },
          "window_months": { "type": "integer", "default": 24, "minimum": 6, "maximum": 120 },
          "horizon_months": { "type": "integer", "default": 12, "maximum": 60 }
        }
      },
      "ForecastPoint": {
        "type": "object",
        "properties": { "observed_period": { "type": "string" }, "value": { "type": "number" }, "lower": { "type": "number", "nullable": true }, "upper": { "type": "number", "nullable": true } }
      },
      "ForecastResponse": {
        "type": "object",
        "properties": {
          "target": { "type": "object", "properties": { "geo_code": { "type": "string" } } },
          "signal_key": { "type": "string" },
          "points": { "type": "array", "items": { "$ref": "#/components/schemas/ForecastPoint" } },
          "meta": { "type": "object", "properties": { "r2": { "type": "number" }, "slope_per_month": { "type": "number" }, "intercept": { "type": "number" }, "residual_stderr": { "type": "number", "nullable": true }, "n_observations": { "type": "integer" } } }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": { "id": { "type": "string" }, "url": { "type": "string", "format": "uri" }, "event_types": { "type": "array", "items": { "type": "string" } }, "secret": { "type": "string", "description": "Signing secret; shown on create and rotate only." } }
      },
      "Error": {
        "type": "object",
        "properties": { "error": { "type": "string" }, "code": { "type": "string" } }
      }
    },
    "responses": {
      "ValidationError": { "description": "Malformed request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "AuthError": { "description": "Missing, invalid or revoked API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "PlanError": { "description": "Plan lacks API access, or the request is blocked by the key's IP allowlist", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "NotFoundError": { "description": "Area or resource not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "UnprocessableError": { "description": "Business-rule failure (for example a planner error, a bundle violation, or preset_id conflict)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "RateLimitError": { "description": "Per-key rate limit exceeded (30 requests/minute default)", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "ServerError": { "description": "Internal server error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
    }
  }
}
